/*
	Este CSS incluye los active scaffold overrides
*/
/*

Paleta de colores:
#003399 Azul oscuro logo
#4D6D9F Azul claro copia de minrel
#076AAC celeste login anterior
*/
/*
	Layout base
*/
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/*
	Login
*/
.manual{
	font-size: large;
	position: absolute;
	right: 10px;
	top 5px;
	border: 2px solid red;
	padding: 4px;
	background-color: yellow;
}
.manual a, .manual a:visited{
	text-decoration: none;
	color: red;
}
.dashboard{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	height: 350px;
	padding: 0;
	background: url(../images/document_markup.gif) left no-repeat;
	padding-left: 320px;
}
#login_form{
	width: 400px;
	padding: 30px;
	font-weight: bold;
	font-size: medium;
	float: right;
	color: grey;
}
#login_form h1{
	display: none;	
}

#login_form #login, #login_form #password{
	height: 22px;
	width: 170px;
	padding: 3px;
	color: #003399;
	font-size: 14pt;
	font-weight: bold;
	border: 1px solid grey;
	display: inline;
}
#login_form #password{
	margin-right: 90px;
}
#login:focus, #password:focus{
	background-color: yellow;
}
#login_form #login {
	direction: rtl;
}
#login_form .dominio{
	font-size: medium;
	color: grey;
	vertical-align: middle;
}
.anuncio{
	border: 1px solid red;
	padding: 8px;
	margin: 3px;
	background-color: #FF8;
	color: black;
	font-size: medium;
	text-align:left;
}
.anuncio h2{
	text-align: center;
}
.anuncio ul{
	text-align: left;
}
.anuncio h3{
	color: red;
}
/* truco para desaparecer el boton reemplazar con nuevo de AS para el puesto en el registro */
.dashboard .active-scaffold .sub-form .footer-wrapper{
	display: none;
}


/*
	Pantalla principal
*/

.header{
	width: 90%;
	height: 70px;
	top: 0;
	margin-top: 0;
}
.header .titulo{
	/*
font-family:"Courier New", Courier, monospace;
*/
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #4D6D9F;
	height: 60px;
	width: 72%;
	background: url(../images/logosiscobaja.png) 4px -4px no-repeat;
	padding: 0 8px;
	padding-left: 250px;
	font-weight: bold;
	font-size: large;
}
.header #perfil{
	float: right;
	padding: 0 4px;
}
.header #perfil #nombre_usuario{
	font-weight: bold;
	color: #003399;
} 
.header #perfil #nombre_usuario a{
	font-size: x-small;
	text-decoration: none;
}
.header #perfil #buzon_usuario, .header #perfil #puesto_usuario{
	font-size: small;
}
.header .mensajes{
	float: left;
}
.left_menu{
	width: 100px;
	min-width: 50px;
	min-height: 300px;
	float: left;
	margin-right: 6px;
	margin-left: 5px;
	display: inline;
}
.left_menu a, .left_menu a:visited{
	text-decoration:none;
	color:#666666;
}
.main{
	float: left;
	margin-right: 3px;
	width: 78%;
}

#footer{
	width: 98%;	
	clear: both;
	color: grey;
	padding: 10px;
	font-size: x-small;
	text-align: right;
	border-top: 1px dotted grey;
}
.light-footer{
	padding-right: 10px;
	clear: both;
	font-size: xx-small;
	color: grey;
}
.light-footer p{
	line-height: 10px;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.left_menu{
	font-size: small;
}
.left_menu ul{
	list-style-type: none;
	padding-left: 0px;
	margin: 0;
}
.left_menu ul a{
	text-decoration: none;
/*
	font-weight: bold;
*/
	color: grey;
}
.left_menu ul a:hover{
	color: blue;
}
.left_menu hr{
	height: 1px;
	color: grey;
	background-color: grey;
	border: 0;
}

.menu_admin{
	margin-top: 5px;
	border: 0px solid grey;
}
.menu_admin .titulo, .menu_acciones .titulo{
	color: #003399;
	font-weight: bold;
	font-style: italic;
}
/* 
 * para Guias
 */
#preguia{
	position: absolute;
	float: left;
	right: 300px;
	top: 15px;
	font-family:"Arial Black";
	font-size: xx-large;
	color: #666;
	text-transform: uppercase;
}

.invisible{
	display: none;
}
.nuevo{
	color: #933 !IMPORTANT;
}

/*
 * Para diferenciar por color las copias de originales 
*/
.active-scaffold tr.original td.materia-column, .active-scaffold tr.original td.origen-column, .active-scaffold tr.original td.folio-column{
	color: #1F7F00 !IMPORTANT;
}

.active-scaffold tr.nuevo td.materia-column{
	font-weight: bold !IMPORTANT;
}

/*

ActiveScaffold Overrides

*/

.active_scaffold td{
	padding: 2px 2px !IMPORTANT;
}

.tabla {
	border-right: 1px solid grey;
	border-top: 1px solid grey;
}
.tabla td, .tabla th{
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	padding: 3px;
	height: 90px;
}
.tabla .ancho{
	width: 120px;
	height: 40px;
}

dd p {
	font-weight: normal;
}
.font-weight-normal{
    font-weight: normal;
}
/* Novedades */
#novedades h1{
	color: #003399;
	margin-top: 0;
	border-bottom: 1px solid #003399;
}
#novedades ul{
	list-style-type: none;
	padding-left: 0px;
	margin: 0;
}
#novedades .titulo{
	color: #003399;
	font-weight: bolder;
	margin: 8px 0;
}
#novedades .texto{
	margin-left: 10px;
	font-size: smaller;
	color: #666666;
}
