<div class="puesto_description">
	<div>
		<div class="puesto_buzon" style="float:left; height:30px; padding: 7px; font-size: large;"><%= record.buzon.sigla %></div>
		<div style="font-size: 12pt;"><%= record.usuario.to_label %></div>
		<label><%= record.nombre %></label>
	</div>

</div>
